APP_NAME=perichat
APP_VERSION=2.0
APP_ENV=local
APP_KEY=
APP_PORT=8050
APP_URL=http://localhost:${APP_PORT}

DB_CONNECTION=postgres
DB_HOST=db
DB_PORT=5432
DB_DATABASE=perichat
DB_USERNAME=perichat-postgres
DB_PASSWORD=admin

DATABASE_URL=postgresql://perichat-postgres:admin@db:5432/perichat?schema=public

REDIS_URL=redis://redis:6379

CORS_ORIGINS=http://localhost:5173