APP_NAME=portfolio
APP_VERSION=0.1.0
APP_ENV=local
APP_KEY=
APP_PORT=
APP_URL=http://localhost:${APP_PORT}

DB_CONNECTION=postgres
DB_HOST=db
DB_PORT=5432
DB_DATABASE=perichat
DB_USERNAME=perichat-postgres
DB_PASSWORD=admin

DATABASE_URL=

REDIS_URL=redis://redis:6379